body{
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid grey;

  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

/*side bar*/

.side-bar {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .side-bar-header{
    background: rgba(10, 15, 13, 1);
    height: 50px;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    a {
      text-decoration: none;
      h1{
        color: white;
        margin-top: 0;
        margin-bottom: 0;
      }
      @media screen and (max-width: 700px){
        display: none;
      }
    }

    span{
      color: white;
      font-size: 1.5em;
    }
  }

  .side-bar-content{
    background: rgba(10, 15, 13, .97);
    flex: 1 1 auto;

    h2{
      margin-top: 5px;
      margin-bottom: 5px;
      color: #808080;
      @media screen and (max-width: 700px){
        display: none;
      }
    }

    .list{
      list-style: none;
      padding: 0;

      a{
        text-decoration: none;
        color: white;

        li{
          padding: 5px 7px 5px 7px;
          font-size: 1.2em;

          display: flex;
          flex-direction: row;
          align-items: center;

          .link-img{
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            @media screen and (max-width: 700px){
              margin-right: 0;
            }
          }
          p{
            margin-bottom: 0;
            @media screen and (max-width: 700px){
              display: none;
            }
          }
          @media screen and (max-width: 700px){
            justify-content: center;
          }
        }
      }
    }
  }
}

/*container*/
.page-container {
  background: rgba(240, 255, 255, .97);

  flex-grow: 10;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .page-container-header{
    height: 50px;
    width: 100%;
    background: #C0C0C0;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;

    .search{
      height: 30px;
      width: 250px;
  //height: 100%;
      margin-left: 30px;
      border: 0;
      border-radius: 7px;
      background-color: #F5F5F5;

      background-image: url('../images/search-256.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 10px;
      padding-left: 40px;
      &:focus{
        background-color: white;
        outline: none;
      }
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  .page-container-content {
    flex: 1 0 auto;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

  }
}

.profile {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  .user-information {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: snow;
    border: 1px solid #C0C0C0;
    border-radius: 3px;

    .user-avatar {
      width: 150px;
      height: 150px;
      border-radius: 75px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-name {
        color: black;
      }
      .email, .phone {
        display: flex;
        flex-wrap: wrap;
        strong {
          margin-right: 10px;
        }
      }
    }

    .params {
      color: blue;
      font-size: 1.1em;
    }
  }

  .profile-content {
    display: flex;
    flex-direction: column;

    padding: 20px;
    background-color: snow;
    border: 1px solid #c0c0c0;
    border-radius: 3px;

    .prefers {
      h2{
        margin: 0;
        color: black;
      }

      .prefers-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .hobbies, .movies, .music, .books {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;

          .title {
            font-size: 1.1em;
          }

          div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
              background-color: white;
              border: 1px solid #c0c0c0;
              border-radius: 10px;
              margin-right: 10px;
              padding: 5px;
            }
          }
        }
      }
    }

    .current-companions {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
        color: black;
      }

      .contact {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .contact-photo {
          width: 60px;
          height: 60px;
          border-radius: 30px;
        }
      }
    }
  }
}

/*info-bar*/
.info-bar {
  background: rgba(10, 15, 13, .97);

  flex-grow: 1;

  .info-bar-header{
    background: rgba(10, 15, 13, 1);
    height: 50px;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    .user-info{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: flex-start;

      .user-image{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 10px;
        @media screen and (max-width: 700px){
          margin-right: 0;
        }
      }

      h4{
        color: white;
        margin: 0, 0, 0, 0;
        @media screen and (max-width: 700px){
          display: none;
        }
      }
    }

    span{
      color: white;
      font-size: 1.5em;
      @media screen and (max-width: 700px){
        display: none;
      }
    }
  }

  .info-bar-content{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
  }
}

/*DatePicker*/
.date-picker{
  flex: 0 0 auto;
  margin-left: 1px;
  margin-right: 1px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  .date-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      margin-top: 5px;
      margin-bottom: 5px;
      color: #808080;
    }
    span{
      margin-right: 20px;
      color: #808080;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
  }

  .date-header{
    flex: 1 1 auto;
    margin-bottom: 10px;
    color: #4F4F4F;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .month-checker, .year-checker{
      font-size: 1.1em;
      .month, .year{
        font-size: 1.2em;
      }
      .glyphicon:hover{
        cursor: pointer;
        color: white;
      }
    }
  }

  .date-content{
    table{
      color: white;
      tr{
        td{
          padding: 3px;
          text-align: center;
        }
        &.dates{
          td{
            border: 1px solid grey;
            background-color: #363636;
            &.day5, &.day6{
              background-color: #4F4F4F;
            }
            &.today{
              background-color: #1C1C1C;
            }
          }
        }
      }
    }
  }

  .short-date{
    display: none;
    h2{
      color: #808080;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

/*chat*/

h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #286EB9;
}

.chat {
  flex-grow: 3;

  display: flex;
  flex-direction: column;

  .chat-window {
    flex: 1 0 auto;
    height: 80vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.4em;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(10, 15, 13, .1);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 10px;
    }

    .message-field {

      .message-block {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: flex-start;
        align-items: flex-start;

        position: relative;
        &.companion {
          padding-right: 20%;
          flex-direction: row;
        }
        &.your {
          padding-left: 20%;
          flex-direction: row-reverse;
        }

        .message-info {
          display: flex;
          flex-direction: column;
          align-items: center;

          padding: 5px 7px 0;

          .avatar {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }

          .time {
            font-style: italic;
            color: #696969;
          }
        }

        .triangle{
          width: 7px;
          height: 7px;
          border: 7px solid transparent;
          &.right {
            border-right: 7px solid white;
            top: 17;
          }
          &.left {
            border-left: 7px solid #E6E6FA;
            top: 17;
          }
          position: relative;
        }

        .message-content {
          align-self: flex-start;

          padding: 15px;
          border-radius: 15px;
          &.companion_msg {
            background-color: white;
          }
          &.your_msg {
            background-color: #E6E6FA;
          }

          p{
            margin: 0;
            word-wrap: break-word;
          }
        }
      }
    }

    .feedback {
      p {
        color: #aaa;
        padding: 14px 0px;
        margin: 0 20px;
      }
    }
  }

  .typing-field {
    flex: 0 0 auto;
    padding: 15px 0px 15px 20px;
    background-color: white;
    border-top: 1px solid #C0C0C0;

    display: flex;
    align-items: flex-start;

    .message-input {
      width: 100%;
      border: 0;
      padding-bottom: 5px;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    .send-btn {
      margin-left: 20px;
      margin-right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      background-color: white;
    }
  }
}

/*companion-info*/
.companion {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #808080;
    align-self: flex-start;
  }

  .companion-avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }

  .companion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .companion-name {
      font-size: 1.4em;
      margin-top: 5px;
      color: white;
    }

    .companion-email, .companion-phone {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;

      font-size: 1.1em;
      color: white;
      strong {
        margin-right: 5px;
        color: #9370DB;
      }
    }
  }
}
