body{
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid grey;

  min-height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

/*side bar*/

.side-bar{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .side-bar-header{
    background: rgba(10, 15, 13, 1);
    height: 50px;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    h1{
      color: white;
      margin-top: 0;
      margin-bottom: 0;
      @media screen and (max-width: 700px){
        display: none;
      }
    }

    span{
      color: white;
      font-size: 1.5em;
    }
  }

  .side-bar-content{
    background: rgba(10, 15, 13, .97);
    flex: 1 1 auto;

    h2{
      margin-top: 5px;
      margin-bottom: 5px;
      color: #808080;
      @media screen and (max-width: 700px){
        display: none;
      }
    }

    .list{
      list-style: none;
      padding: 0;

      a{
        text-decoration: none;
        color: white;

        li{
          padding: 5px 7px 5px 7px;
          font-size: 1.2em;

          display: flex;
          flex-direction: row;
          align-items: center;

          .link-img{
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            @media screen and (max-width: 700px){
              margin-right: 0;
            }
          }
          p{
            margin-bottom: 0;
            @media screen and (max-width: 700px){
              display: none;
            }
          }
          @media screen and (max-width: 700px){
            justify-content: center;
          }
        }
      }
    }
  }
}

/*container*/
.page-container{
  background: rgba(240, 255, 255, .97);

  flex-grow: 10;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .page-container-header{
    height: 50px;
    width: 100%;
    background: #C0C0C0;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;

    .search{
      height: 30px;
      width: 250px;
  //height: 100%;
      margin-left: 30px;
      border-radius: 7px;
      background-color: #F5F5F5;

      background-image: url('../images/search-256.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 10px;
      padding-left: 40px;
      &:focus{
        background-color: white;
        outline: none;
      }
      @media screen and (max-width: 700px){
        display: none;
      }
    }
  }

  .page-content-container{
    flex: 1 1 auto;
  }
}

/*info-bar*/
.info-bar{
  background: rgba(10, 15, 13, .97);

  flex-grow: 1;

  .info-bar-header{
    background: rgba(10, 15, 13, 1);
    height: 50px;

    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;

    .user-info{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: flex-start;

      .user-image{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-right: 10px;
        @media screen and (max-width: 700px){
          margin-right: 0;
        }
      }

      h4{
        color: white;
        margin: 0, 0, 0, 0;
        @media screen and (max-width: 700px){
          display: none;
        }
      }
    }

    span{
      color: white;
      font-size: 1.5em;
      @media screen and (max-width: 700px){
        display: none;
      }
    }
  }

  .info-bar-content{
    flex: 1 1 auto;
    .smth{
      height: 300px;
      flex: 1 0 auto;
    }
  }
}

/*DatePicker*/
.date-picker{
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  .date-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      margin-top: 5px;
      margin-bottom: 5px;
      color: #808080;
    }
    span{
      margin-right: 20px;
      color: #808080;
      cursor: pointer;
      &:hover{
        color: white;
      }
    }
  }

  .date-header{
    flex: 1 1 auto;
    margin-bottom: 10px;
    color: #4F4F4F;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .month-checker, .year-checker{
      font-size: 1.1em;
      .month, .year{
        font-size: 1.2em;
      }
      .glyphicon:hover{
        cursor: pointer;
        color: white;
      }
    }
  }

  .date-content{
    table{
      color: white;
      tr{
        td{
          padding: 3px;
          text-align: center;
        }
        &.dates{
          td{
            border: 1px solid grey;
            background-color: #363636;
            &.day5, &.day6{
              background-color: #4F4F4F;
            }
            &.today{
              background-color: #1C1C1C;
            }
          }
        }
      }
    }
  }

  .short-date{
    display: none;
    h2{
      color: #808080;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

/*chat*/

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #286EB9;
}

#mario-chat{
  width: 650px;
  margin: 70px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output .msg{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

.msg p{
  margin-top: 0;
  margin-bottom: 0
}

.time{
  font-size: 0.9em;
  color: #aaa;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #286EB9;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #286EB9;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
